{% extends 'main/base.html' %}

{% block title %} Comment a Post {% endblock %}

{% block content %}
<div class="card mt-2">
    <div class="card-header"><strong> @{{post.author.username}} </strong> -{{post.created_at}}</div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title"> {{post.title}} </h5>
            <p> {{post.description}} </p>
        </div>
    </div>
</div>
<div>
    <div>
        {% if comments %}
        {% for comm in comments %}
        <div class="card-header"><strong> @{{comm.author.username}} </strong></div>
        <p class="card-title" style="margin-left: 15px;"> {{comm.remark}} </p>
        {% endfor %}
        {% else %}
        <p style="color: gray; font-size: 14px"> comments coming soon... </p>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}{{ form }}
        <button type="submit" class="btn btn-success" name="post-id" value="{{post.id}}"> Add comment </button>
    </form>
</div>
{% endblock %}
