{% extends 'main/base.html' %}

{% block title %} Comment a Post {% endblock %}

{% block content %}
<div class="card mt-2">
    <div class="card-header"><strong> @{{post.author.username}} </strong> -{{post.created_at}}</div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title"> {{post.title}} </h5>
            <p> {{post.description}} </p>
        </div>
        <button type="submit" class="btn btn-success"> Add comment </button>
        {% for comm in comment %}
        <div class="card-header"><strong> @{{comm.author.username}} </strong> -{{comm.created_at}}</div>
        <h5 class="card-title"> {{comm.remark}} </h5>
        {% endfor %}
    </div>
</div>
{% endblock %}
